body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(17, 60px);
  justify-content: space-between;
  grid-row: auto; }

header {
  height: 25px;
  background: linear-gradient(90deg, #58D176 0%, #BDF3C6 100%);
  grid-column: 3 / -1; }

.menu {
  position: absolute;
  min-height: 100%;
  width: 220px;
  background-color: #FFFFFF;
  box-shadow: 5px 0 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px; }
  .menu ul {
    padding: 0;
    margin-bottom: 70px; }
  .menu li {
    color: #757575;
    font-family: "Code Pro";
    font-size: 16px;
    line-height: 19px;
    list-style-type: none;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    width: 220px; }
    .menu li:hover {
      background-color: #FFFFFF;
      box-shadow: inset 5px 0 20px #CBCBCB;
      cursor: pointer; }

.menu__list_drop-down {
  height: 100%;
  opacity: 0;
  cursor: default;
  position: absolute;
  text-align: left;
  height: auto;
  width: 190px;
  left: 220px;
  top: 0;
  padding-top: 50px;
  padding-left: 30px;
  background-color: #F9F9F9;
  box-shadow: inset 5px 0 4px rgba(0, 0, 0, 0.2), 5px 0 4px 0 rgba(0, 0, 0, 0.2); }
  .menu__list_drop-down li {
    padding-top: 5px;
    padding-bottom: 5px; }
  .menu__list_drop-down ul {
    margin-bottom: 30px; }
  .menu__list_drop-down li:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 #F9F9F9;
    cursor: pointer; }

.menu__list_drop-down__section__title {
  display: inline-block;
  color: #47A75F;
  font-family: "Code Pro Bold";
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 40px; }
  .menu__list_drop-down__section__title:hover {
    cursor: pointer; }

.menu__list_drop-down__section__title:first-child {
  margin-bottom: 45px; }

.menu__list_drop-down__section__title:last-child {
  margin-bottom: 88px; }

.menu__list_drop-down__section__subsection__title {
  display: inline-block;
  color: #47A75F;
  font-family: "Code Pro";
  font-size: 13px;
  line-height: 16px;
  margin-top: 15px;
  margin-bottom: 15px; }
  .menu__list_drop-down__section__subsection__title:hover {
    cursor: pointer; }

.menu__list_drop-down__section__subsection__list li {
  color: #757575;
  font-family: "Conqueror Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
  text-align: left; }

.menu__list-drop-down-opener:hover .menu__list_drop-down {
  display: block;
  transition: 0.3s;
  opacity: 1; }

.logo-green {
  margin-bottom: 60px; }

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.unload-logo {
  width: 22px;
  height: 22px;
  background-color: grey;
  margin-bottom: 10px; }

.contacts__number {
  color: #757575;
  font-family: "Conqueror Sans";
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  text-align: center; }

.work-time {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.work-time__hours {
  color: #757575;
  font-family: "Conqueror Sans";
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  text-align: center; }

.location {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px; }

.address {
  color: #757575;
  font-family: "Conqueror Sans";
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  text-align: center; }

@font-face {
  font-family: "Code Pro";
  src: url(Code_Pro.otf); }
@font-face {
  font-family: "Code Pro Bold";
  src: url(Code_Pro_Bold.otf); }
@font-face {
  font-family: "Conqueror Sans";
  src: url(Conqueror_Sans.otf); }

/*# sourceMappingURL=index.css.map */
